<div class="container">
    <h1 class="text-center mb-2">Eat Your Burgers!</h1>

    <div class="row">
        <div class="col-sm-6">
            <h2>Not Eaten</h2>
            <u1>
                {{#each burgers}}
                    {{#unless devoured}}
                        {{burger_name}}
                        <button type="button" class="btn btn-danger eat-burger-btn" data-id="{{id}}" data-devoured="{{devoured}}">Eat Burger!</button>
                    {{/unless}}
                {{/each}}
            </u1>
        </div>

        <div class="col-sm-6">
            <h2>Eaten</h2>
            <u1>
                {{#each burgers}}
                    {{#if devoured}}
                        {{burger_name}}
                    {{/if}}
                {{/each}}
            </u1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form id="add-burger-form">
                <div class="form-group">
                    <label for "burger-textarea">Add a burger here</label>
                    <textarea class="form-control" id="burger-textarea" name="burger-textarea" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary add-burger-btn">Add Burger!</button>
            </form>
        </div>
    </div>

</div>